
body{
    background-image:url("bk6.jpg"); 
}

h1{
    text-align:center;
}
.personaliza{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: beige;
    padding: 10px;
    text-align:center;
}
.personaliza2{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: beige;
    padding: 40px;
    text-align:center;
}
.EditEu{
    text-align: center;
    margin-top: 100px;
}
.PersUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }
.inline-block {
    display: inline-block;
 }
.PersonalizaFoto{
    text-align: center;
}
.rodape{
    background-color: #111;
    height: 200px;
    color: white;
    text-align: center;
}
.branco{
    color:white;
    bottom: 8px;
}
p{
    font-size: 20px;
}

.PersonalizaEntrada{
    text-align: center;
    border-style: dotted;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 25px;
}
